* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

h4.social-media {
  font-size: 1em;
}

.clickDetails {
  color: #8fbf94;
}

.plantGrid h1 {
  font-size: 1.25rem;
}

.plantGrid h2, h3 {
  font-size: 1.1rem;
}

.plantGrid p {
  font-size: .96rem;
}

.plantGrid img {
  border: 2px solid transparent;
}

.plantGrid img:hover {
  border: 2px solid #8fbf94;
}

.card-footer {
  background: #edf5ee;
}

.icon:hover {
  color: #fffd8a;
}

.btn {
  background-color: green;
  color: white;
}

.btn:hover {
  background-color: #fffff5;
  border: 1px solid green;
}

form .btn {
  background-color: green;
  border: 1px solid #8fbf94;
  color: white;
  transition: none;
}

#reset-btn {
  margin-left: 5%;
}

form .btn:hover {
  background-color: #fffff5;
  border: 1px solid green;
  color: white;
}
header.about {
  background-image: url("plantSanctuary.jpg");
  background-position: 50% 75%;
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: .25rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  padding: 1rem;
  color: rgba(5, 122, 34, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  padding: 0.5rem;
}

/* Responsive Design */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}
